/* CSS reset */
html {
    box-sizing: border-box;
  }

*, *:before, *:after {
    box-sizing: inherit;
}
 /* end of CSS reset */


/*This is a comment in css*/
/* ctrl+/ is the comment shortcut */

/*Google Fonts
    font-family: 'Quicksand', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mulish', sans-serif;
*/

body {
    font-family: 'Quicksand', sans-serif;
    background-color:#eeeeee;
    color: rgb(43, 42, 41);
}
#wrapper {
    width: 50vw;
    margin: 0 auto;
    padding: 0rem 1.5rem 0.5rem 1.5rem;
}


/*** Navigation ***/

#main-nav {
    letter-spacing: 0.3rem;
    height: 2rem;
    font-family: 'Mulish', sans-serif;
    font-variant: all-small-caps;
    font-weight: 400;
    word-spacing: 1.5rem;
    text-align: center;
    background-color: #e2e2e2;

    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
}
.pages {
    display: inline;
}
.pages a {
    color: rgb(43, 42, 41);
    font-size: 1.35rem;
    text-decoration: none;
    line-height: 1.7rem;
    transition: color 0.5s;
}
.pages a:visited {
    color: #797979;
}
.pages a:hover {
    color: #8bb1bb;
    transition: color 0.5s;
}

/*** Biography ***/

.bio-pic {
    max-width: 40%;
    padding: 20px;
    border: 1px outset;
    float: left;
    margin-right: 10px;
    shape-outside: inset;
    animation: slide ease-in-out 2s;
}
@keyframes slide {
    0% {
        transform: translate3d(400px, 0px, 0px);
    }
    100% {
        transform: translate3d(0px, 0px, 0px);
    }
}

.bio {
    text-align: justify;
}


/*** Headings & Paragraphs ***/

h1, h2, h3 {
    color: #3f3f3f;
    /*letter-spacing: 0.3rem;*/
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 2rem;    
    text-shadow: 0rem .2rem .2rem rgb(182, 182, 182);
    text-align: center;
}
.name {
    animation: fadeIn linear 2s;
    -webkit-animation: fadeIn linear 2s;
    -moz-animation: fadeIn linear 2s;
    -o-animation: fadeIn linear 2s;
    -ms-animation: fadeIn linear 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
    margin-bottom: 0.3rem;
    margin-top: 0;
}

p {
    font-size: 1rem;
    color: rgb(43, 42, 41);
}

ol,li .favorites {
    list-style-type:decimal;
}

hr {
    border: none;
    height: 1px;
    background-color: #9b9b9b;
    clear: both;
}


/*** Footer & Return***/
#footer {
    height: 70px;
    padding: 2px 4px;
    bottom: 0;
    background-color: #e2e2e2;
}
#footer p {
    font-size: 0.75rem;
}
#footer a {
    text-decoration: none;
    color: rgb(43, 42, 41);
    transition: color 0.5s;
}
#footer a:hover {
    color: #8bb1bb;
    transition: color 0.5s;
}

#top {
    font-family: 'Mulish', sans-serif;
    text-align: right;
    font-weight: 700;
    margin-top: 10px;
}
#top a {
    text-decoration: none;
    color: #8bb1bb;
    transition: color 0.5s;
}
#top a:hover {
    color: rgb(43, 42, 41);
    transition: color 0.5s;
}