/* CSS reset */
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

*, *:before, *:after {
    box-sizing: inherit;
}
 /* end of CSS reset */

 /*** Google Fonts
font-family: 'Philosopher', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Mitr', sans-serif;
***/


body {
    font-family: 'Quicksand', sans-serif;
    background-color: #ffffff;
    color: #111111;
}

#wrapper {
    width: 80vw;
    margin: 0 auto;
 }

h1, h3 {
    font-family: 'Mitr', sans-serif;
    font-weight: 400;
 }

 img {
     width: 350px;
 }

figcaption a {
    text-decoration: none;
    color: #8f672c;
    font-style: italic;
}
figcaption a:hover {
    color: black;
}

 p::first-letter {
     font-weight: bold;
 }

.title {
    text-align: center;
    margin-top: 6%;
    margin-bottom: 2%;
    letter-spacing: 4px;
}

nav {
    height: 70px;
    background-color: #fff;
    margin-bottom: 1%;
    padding-top: 4px;

    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
}
nav ul {
     display: flex;
     justify-content:space-evenly;
     list-style-type: none;
}
.pages {
    font-size: 1.3rem;
    text-transform: lowercase;
}
.pages a {
    text-decoration: none;
    color: #0f0f0f;
}
.pages a:hover {
    color :olive;
}

hr, hr.two {
    border: none;
    height: 1px;
    background-color: #c9c9c9;
}
hr {
    width: 50%;
    margin-bottom: 3%;
}
hr.two {
    width: 80vw;
}

.container {
    display: grid;
    grid-template-areas: 
    "image1 image2 image3"
    "content1 content2 content3"
    "image4 image5 image6"
    "content4 content5 content6"
    "footer footer footer"
    ;
}

.row1-left {
    grid-area: image1;
}
.row2-left {
    grid-area: content1;
}
.row1-middle {
    grid-area: image2;
}
.row2-middle {
    grid-area: content2;
}
.row1-right {
    grid-area: image3;
}
.row2-right {
    grid-area: content3;
}

.row3-left {
    grid-area: image4;
}
.row4-left {
    grid-area: content4;
}
.row3-middle {
    grid-area: image5;
}
.row4-middle {
    grid-area: content5;
}
.row3-right {
    grid-area: image6;
}
.row4-right {
    grid-area: content6;
}

.row1-left, .row1-middle, .row1-right, .row3-left, .row3-middle, .row3-right {
    text-align: center;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.row2-left, .row2-middle, .row2-right, .row4-left, .row4-middle, .row4-right {
    text-align: justify;
    margin-left: 6%;
    margin-right: 6%;
    color: #111111;
    margin-bottom: 31px;
}

footer, hr.two {
    grid-area: footer;
}

/* FOOTER */
#footer {
    font-size: 1rem;
}
#footer a {
    text-decoration: none;
    color: #111111;
}
#footer a:hover {
    color: olive;
}
/* BACK TO TOP */
span#top {
    margin-bottom: 3%;
    float: right;
}
span#top a {
    text-decoration: none;
    color: olive;
    font-size: 1.3rem;
}
span#top a:hover {
    color: #111;
}