/* CSS reset */
html {
    box-sizing: border-box;
  }

*, *:before, *:after {
    box-sizing: inherit;
}
 /* end of CSS reset */

/*This is a comment in css*/
/* ctrl+/ is the comment shortcut */

/*** Google Fonts
font-family: 'Philosopher', sans-serif;
font-family: 'Quicksand', sans-serif;
***/

#wrapper {
    width: 50vw;
    margin: 0 auto;
    padding: 0rem 1.5rem 0.5rem 1.5rem;
}
body {
    font-family: 'Quicksand', sans-serif;
    background-color:rgb(238, 238, 238);
    color: rgb(43, 42, 41);
}

/*
.icon-row1 {
    height: 6vh;
    background-image: url(/img//coffee-bean-32px.png);
    background-repeat:repeat-x;
}
*/

/*** Navigation ***/

#main-nav {
    letter-spacing: 0.3rem;
    font-variant: all-small-caps;
    font-family: 'Philosopher', sans-serif;
    word-spacing: 1.5rem;
    text-align: center;
}
.pages {
    display: inline;
}
.pages a {
    color: rgb(43, 42, 41);
    font-size: 1.35rem;
    text-decoration: none;
    line-height: 1.7rem;
}
.pages a:visited {
    color: rgb(138, 138, 138);
}
.pages a:hover {
    color: #967f6a;
}


/*** Header ***/
header {
    height: 50vh;
    background-image: url(../img/work.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.work-pic {
    font-size: 14px;
    color: #000;
}
.work-pic a {
    text-decoration: none;
    color:rgb(0, 0, 0)
}
.work-pic a:hover {
    color:rgb(177, 177, 177)
}

/*** Headings & Paragraphs ***/

h1, h2, h3 {
    color: rgb(43, 42, 41);
    font-family: 'Philosopher', sans-serif;
    /*font-variant: all-small-caps; *removed*/
    /*letter-spacing: 0.3rem; *removed*/
    font-weight: 600;
}

h1 {
    font-size: 2rem;    
    text-shadow: 0rem .2rem .2rem rgb(211, 211, 211);
}

h2 {
    font-size: 1.5rem;
}
ul, li {
    list-style-type: none;
    font-size: 1.3rem;
}
ul, li a {
    text-decoration: none;
    color:rgb(43, 42, 41);
}
ul li, a:hover {
    color: #78966a;
}
ul, li a:visited {
    color: rgba(rgb(112, 112, 112), green, blue, alpha)
}

h3 {
    font-size: 1rem;
}

.section1 p::first-letter {
    font-size: 1.8rem;
    font-weight: bold;
}
p {
    font-size: 1.3rem;
    color: rgb(43, 42, 41);
}
.em {
    font-size: 1.3rem;
}

/*** Footer & Return***/
#footer span {
    font-size: 0.95rem;
}
#footer span a {
    text-decoration: none;
    color: rgb(43, 42, 41);
    font-size: 0.95rem;
}
#footer span a:hover {
    color: #967f6a;
}

#top {
    font-variant: all-small-caps;
    font-family: 'Philosopher', sans-serif;
    text-align: right;
}
#top a {
    text-decoration: none;
    color: black;
}
#top a:hover {
    color: #967f6a;
}